* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  word-wrap: break-word;
  font-family: -apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Helvetica Neue,Ubuntu,sans-serif;
}

body {
  min-height: 100%;
  background-color: #9631a5;;
}

.fa {
  padding: 20px;
  position: absolute;
  top: 85%;
  left: 57%;
  font-size: 30px;
  width: 100px;
  text-align: center;
  text-decoration: none;
  margin: 5px 2px;
  border-radius: 30%;
}

.fa:hover {
    opacity: 0.7;
    background-color: #ded5df;
    background-color: transparent;
}

.fa-facebook {
  background:  rgb(130, 6, 103);
  color: white;
}
.playstore-button {
  display: inline-flex;
  position: absolute;
  top: 85%;
  left: 30%;
  align-items: center;
  justify-content: center;
  border-radius: 9999px;
  background-color:  rgb(130, 6, 103);
  padding: 0.5rem 1rem; /* Adjust the padding to make it smaller */
  text-align: center;
  color: rgba(255, 255, 255, 1);
  outline: 0;
  transition: all .2s ease;
  text-decoration: none;
}

.playstore-button:hover {
  background-color: transparent;
}

.icon {
  height: 1.25rem; /* Adjust the height to make the icon smaller */
  width: 1.25rem; /* Adjust the width to make the icon smaller */
}

.texts {
  margin-left: 0.75rem; /* Adjust the margin to make the text closer to the icon */
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  line-height: 1;
}

.text-1 {
  margin-bottom: 0.25rem;
  font-size: 0.6rem; /* Adjust the font size to make it smaller */
  line-height: 0.75rem; /* Adjust the line height to make it smaller */
  color: rgb(248, 248, 248);
}

.text-2 {
  font-weight: 600;
  color: rgb(248, 248, 248);
}

.bellbutton {
  width: 50px;
  height: 50px;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgb(130, 6, 103);
  border-radius: 50%;
  cursor: pointer;
  transition-duration: .3s;
  box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.13);
  border: none;
  position: absolute;
  top: 86%;
  left: 48%;
}

.bell {
  width: 18px;
}

.bell path {
  fill: white;
}

.bellbutton:hover {
  background-color: rgb(243, 233, 233);
  background-color: transparent;
}

.bellbutton:hover .bell {
  animation: bellRing 0.9s both;
}

/* bell ringing animation keyframes*/
@keyframes bellRing {
  0%,
  100% {
    transform-origin: top;
  }

  15% {
    transform: rotateZ(10deg);
  }

  30% {
    transform: rotateZ(-10deg);
  }

  45% {
    transform: rotateZ(5deg);
  }

  60% {
    transform: rotateZ(-5deg);
  }

  75% {
    transform: rotateZ(2deg);
  }
}

.button:active {
  transform: scale(0.8);
}



.button:active {
  transform: scale(0.8);
}

.button:active {
  transform: scale(0.8);
}

h1 {
    letter-spacing: -1px;
}
a {
  color: #762582;
  text-decoration: unset;
}

.loginbackground {
    min-height: 692px;
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    top: 0;
    z-index: 0;
    overflow: hidden;
}

#signupbutton {
  background-color:  rgb(130, 6, 103);
  color: white;
  padding: 21px 21px;
  border-radius: 2px;
  cursor: pointer;
  position: absolute;
  top: 0;
  left: 0;
  outline: none; 
  font-weight: bold;
  border-radius: 10%;
}

#signupbutton:hover {
  outline: 2px solid #9e4caf; 
  background-color: transparent;
 
}

#settingsbutton {
  background-color:  rgb(130, 6, 103);
  color: white;
  padding: 21px 21px;
  border-radius: 2px;
  cursor: pointer;
  position: absolute;
  top: 0;
  right: 0;
  outline: none; 
  font-weight: bold;
  border-radius: 10%;
}

#settingsbutton:hover {
  outline: 2px solid #9e4caf; 
  background-color: transparent;
}

.flex-flex {
    display: flex;
}
.align-center {
  align-items: center; 
}
.center-center {
  align-items: center;
  justify-content: center;
}

.flex-direction--column {
    -ms-flex-direction: column;
    flex-direction: column;
}

.box-divider--light-all-2 {
    box-shadow: inset 0 0 0 2px #e3e8ee;
}

.padding-top--64 {
  padding-top: 64px;
}
.padding-top--24 {
  padding-top: 24px;
}
.padding-top--48 {
  padding-top: 48px;
}
.padding-bottom--24 {
  padding-bottom: 24px;
}
.padding-horizontal--48 {
  padding: 48px;
}
.padding-bottom--15 {
  padding-bottom: 15px;
  text-align: center;
}

.flex-justifyContent--center {
  -ms-flex-pack: center;
  justify-content: center;
}

.formbg {
  margin: 0px auto;
  max-width: 448px;
  background: rgb(255, 255, 255);
  box-shadow: rgba(60, 66, 87, 0.12) 0px 7px 14px 0px, rgba(0, 0, 0, 0.12) 0px 3px 6px 0px;
}
span {
  display: block;
  line-height: 28px;
  font-size: 25px;
  font-weight: 500;
  color: rgb(116, 12, 111)
}

.field input {
  font-size: 16px;
  line-height: 28px;
  padding: 8px 16px;
  width: 100%;
  min-height: 44px;
  border: unset;
  border-radius: 4px;
  outline-color: rgba(131, 53, 89, 0.5);
  background-color: rgb(255, 255, 255);
  box-shadow: rgba(0, 0, 0, 0) 0px 0px 0px 0px, 
              rgba(0, 0, 0, 0) 0px 0px 0px 0px, 
              rgba(0, 0, 0, 0) 0px 0px 0px 0px, 
              rgba(60, 66, 87, 0.16) 0px 0px 0px 1px, 
              rgba(0, 0, 0, 0) 0px 0px 0px 0px, 
              rgba(0, 0, 0, 0) 0px 0px 0px 0px, 
              rgba(0, 0, 0, 0) 0px 0px 0px 0px;
}

input[type="submit"] {
  background-color: rgb(116, 12, 111);
  box-shadow: rgba(0, 0, 0, 0) 0px 0px 0px 0px, 
              rgba(0, 0, 0, 0) 0px 0px 0px 0px, 
              rgba(0, 0, 0, 0.12) 0px 1px 1px 0px, 
              rgb(212, 84, 139) 0px 0px 0px 1px, 
              rgba(0, 0, 0, 0) 0px 0px 0px 0px, 
              rgba(0, 0, 0, 0) 0px 0px 0px 0px, 
              rgba(60, 66, 87, 0.08) 0px 2px 5px 0px;
  color: #fff;
  font-weight: 600;
  cursor: pointer;
}

#input:hover {
  outline: 2px solid #f5f5f5; 
  background-color: transparent;
}

.popup {
  display: none;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border: 1px solid #ccc;
  padding: 20px;
  background-color: #fff;
  z-index: 1;
}

.popup-content {
  text-align: center;
}

.close {
  position: absolute;
  top: 10px;
  right: 10px;
  font-size: 20px;
  cursor: pointer;
}

#registrationForm {
  text-align: center;
}

#registrationForm h2 {
  margin-bottom: 20px;
}